body {
    padding: 0;
    margin: 0;
}

h1{
    color: green;
}

.logo{
    height: 50px;
    width: 50px;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

.even {
    background-color: lightgreen;
}

.odd {
    background-color: white;
}

.ghwwBGColor {
    background-color: lightgreen;
}

div#container{
    width: 100%;
    overflow: hidden;
}

div#menu{
    float: left;
    overflow: hidden;
}

div#content{
    float: left;
    padding-left: 1cm;
}

div#loginDiv{
    height: 500px;
    width: 500px;
    text-align: center;
}

div.CenterWrapper {
    padding-right: 175px;
    width: 500px;           /* Set this to your convenience */
    height: 500px;          /* Set this to your convenience */
    position: absolute;
    top: 400px;
    left: 45%;
    margin-top: -100px;     /* Half of height */
    margin-left: -150px;
}

table#login{
    margin-left: auto;
    margin-right: auto;
    background-color: lightgreen;
}

.grasshopperslogo {
    margin-top: 75px;
    height: 150px;
    width: 150px;
}

.fullWidth {
    width: 100%;
}

