.logo{
    height: 50px;
    width: 50px;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

.eval {
    background-color: lightgreen;
}

.odd {
    background-color: white;
}
.ghwwBGColor {
    background-color: lightgreen;
}